/* contentstyles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
}

#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    box-shadow: 0 0 15px #ADADAD;
    z-index: 5;
}

#menuOverlay.hidden {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

nav a:hover {
    color: #cf0;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 5%;
}

.blog-thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 1%;
}

.thumbnail {
    width: 350px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -2px 2px 10px #ADADAD;
    border: solid .5px #fff;
    border-radius: 2%;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

.thumbnail:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.post {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    max-width: 800px;
    z-index: 1001;
    border-radius: 5px;
    box-shadow: 0 0 15px #ADADAD;
}

.post.hidden {
    display: none;
}


@media screen and (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}
